In [23]:
import pandas as pd
import json
import re

# Function to parse JSON-like data from a block
def parse_extracted_data(block):
    # Look for the JSON part in the block
    match = re.search(r'\{.*\}', block, re.DOTALL)  # Match everything between {}
    if match:
        try:
            # Convert the JSON string to a Python dictionary
            return json.loads(match.group(0))
        except json.JSONDecodeError:
            print(f"Failed to decode JSON: {match.group(0)}")
            return {}
    return {}

# Read the txt file
file_path = 'data/batch1.txt'  # Path to your txt file

# Initialize a list to store data for each row
rows = []

# Open the file and read its contents
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Split the content into blocks between "Row" markers
blocks = re.split(r'(?=Row \d+)', content)

for block in blocks:
    if block.strip():  # Ignore empty blocks
        # Extract the row number
        row_match = re.match(r'Row (\d+)', block)
        row_data = {'Row': int(row_match.group(1))} if row_match else {}

        # Add the entire block as text (optional, for debugging or analysis)
        row_data['Full Block'] = block.strip()

        # Parse the JSON data from the block
        extracted_data = parse_extracted_data(block)
        row_data.update(extracted_data)  # Add the parsed JSON data to the row

        # Append the processed row to the list
        rows.append(row_data)

# Convert the list of rows into a pandas DataFrame
df = pd.DataFrame(rows)

df

Failed to decode JSON: {
"Maalaji": "HtMr",
"Multavuus": m,
"PH": null,
"Nurmen ikä": "2v",
"Mitä viljellään": "Valio Carbo 3.niiton seos.",
"Lannoite": "YaraMila Y3",
"Lannoitemäärä": "450 kg/ha"
}
Failed to decode JSON: {
"Maalaji": "He",
"Multavuus": rm,
"pH": null,
"Nurmen ikä": "2v",
"Mitä viljellään": "TT 55% + NN 25% + PA 15%, AA 5%",
"Lannoite": "Liete, Axan",
"Lannoitemäärä": "30 tn/ha, 150 kg/ha"
}
Failed to decode JSON: {
"Maalaji": "HsH",
"Multavuus": rm,
"pH": null,
"Nurmen ikä": "2 v",
"Mitä viljellään": "TT Nuutti, Grindstad, NN, RuokoN Karoliina, KoirH, Rehukatt, ItalRH",
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": "HtS",
"Multavuus": rm,
"pH": null,
"Nurmen ikä": "2v",
"Mitä viljellään": "TT uula 30% + Rubinia 30% + NN Kasper 15% + RN Karolina 15% + ERH Birger 10%",
"Lannoite": "YaraMila Y2",
"Lannoitemäärä": "380 kg/ha"
}
Failed to decode JSON: {
"Maalaji": "Hiue",
"Multavuus": "rm",
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Pellon Y 400kg/ha, Inkeri nurminata, Riikka englanninraiheinä 6%, Nuutti timotei 40%, Dorothy timotei 33%, Jögeva 4-valkoapila 4 %"
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": null,
"Multavuus": rm,
"P_H": null,
"Nurmen ikä": null,
"Mitä viljellään": "TT, TT, NN, RN, ER, lann.",
"Lannoite": "Rikkisalpietari",
"Lannoitemäärä": "400kg/ha"
}
Failed to decode JSON: {
"Maalaji": m,
"Multavuus": null,
"PH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Timotei, nurminata",
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": "He/Ht",
"Multavuus": m,
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "TT Tryggve 80 %, NN SW Revansch 20 %",
"Lannoite": "YaraMila Y4",
"Lannoitemäärä": "500 kg/ha"
}
Failed to decode JSON: {
"Maalaji": null,
"Multavuus": null,
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Timotei/nurminata	Grinstad 75% Kaper 25%",
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": "HeS",
"Multavuus": rm,
"P": null,
"Nurmen ikä": null,
"Mitä viljellään": "TT Nuutti 50%, NN Inkeri 15%, RuoN Karoliina 10%, EngRH Riikka 10%, Apiloita Frida 5%, Hebe 5%, Yngve 5%",
"Lannoite": "Belor Prem. 27-3-5-2",
"Lannoitemäärä": "370 kg/ha, 100 kg N"
}
Failed to decode JSON: {
"Maalaji": null,
"Multavuus": m,
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Timotei 60% %, Nurminata 30%, PA Yngve 10%",
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": "Tuure",
"Multavuus": null,
"PH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Timotei/nurminata	Tuure/Karoliina",
"Lannoite": "Yara Y4 Hiven",
"Lannoitemäärä": 460
}
Failed to decode JSON: {
"Maalaji": null,
"Multavuus": null,
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "Timotei/nurminata	TuureTrygve	YaraMila Y3 450 kg",
"Lannoite": "YaraMila Y3",
"Lannoitemäärä": "450 kg"
}
Failed to decode JSON: {
"Maalaji": "HHt",
"Multavuus": m,
"pH": null,
"Nurmen ikä": null,
"Mitä viljellään": "TT Trygve 75%, NN Kasper ja Revansch 25 %",
"Lannoite": null,
"Lannoitemäärä": null
}
Failed to decode JSON: {
"Maalaji": "Hietasavi",
"Multavuus": rm,
"pH": null,
"Nurmen ikä": "2 v.",
"Mitä viljellään": "Grindstad50%/Valtteri n.nata20%/Karoliina r.nata20%/Riikka eng.heinä10%",
"Lannoite": "Yara",
"Lannoitemäärä": "27% , 390 kg/ha"
}
Failed to decode JSON: {
"Maalaji": "HHt",
"Multavuus": rm,
"pH": null,
"Nurmen ikä": "2v",
"Mitä viljellään": "TT Tuure 35% + Rhonia 25%, NN Klaara 20%, RN Karolina 10%, engl.rh Riikka 10%",
"Lannoite": "YaraMila Y10, YaraLiva Nitrabor N15",
"Lannoitemäärä": "380 kg/ha, 130 kg/ha"
}
Failed to decode JSON: {
"Maalaji": null,
"Multavuus": null,
"pH": null,
"Nurmen ikä": "3v",
"Mitä viljellään": null,
"Lannoite": "Belor", "Se-salp. 250 kg/ha",
"Lannoitemäärä": null
}

,Row,Full Block,Maalaji,Multavuus,pH,Nurmen ikä,Mitä viljellään,Lannoite,Lannoitemäärä,P,...,PHe,P:H,PHanderus,PHE,PHanda,PX,PHT,Nurmen_ikä,Mitä_viljellään,MaaLaji
0,1,Row 1\nInput text: 3 v. nurmi. 70 kg N/ha. E...,None,None,NaN,3 v,Valio Carbo nurmiseos,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"Row 2\nInput text: Koulutila. TT 80%, NN 20%....",HHt,None,6.2,3v,"TT 80%, NN 20%",YaraMila Y3,400 kg/ha,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Row 3\nInput text: 2 v. nurmi. HiueS. Ei liet...,HiueS,None,NaN,2v,"Carbo 3 niiton seos TT Rubinia 35%+ Uula 15%, ...",None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Row 4\nInput text: TT Nuutti 60 %, NN Kasper ...",Ct,None,NaN,2v,"TT Nuutti 60 %, NN Kasper 17 %, engl.rh. Riikk...",Yara Y3,430 kg/ha,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,"Row 5\nInput text: TT Nuutti 60 %, NN Kasper ...",HtMr,rm,NaN,1v,"TT Nuutti 60 %, NN Kasper 17 %, engl.rh. Riikk...",Yara Y4,470 kg/ha,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1042,Row 1042\nInput text: 2 v nurmi. HeS. Lajikke...,None,None,NaN,2 v,"Grindstad 10 kg, Rhonia 12 kg, Klaara 8 kg, Ri...",Se-salpietari,350 kg/ha,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,1043,"Row 1043\nInput text: Grindstad-timotei, Mint...",Grindstad-timotei,None,NaN,None,Minto-nurminata,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1043,1044,"Row 1044\nInput text: Timotei Tryggve, nurmin...",None,None,NaN,None,"Timotei Tryggve, nurminata SW Minto",None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,1045,Row 1045\nInput text: LUOMU.\n\nExtracted Dat...,None,None,NaN,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,1046,"Row 1046\nInput text: Vihti Kotkaniemi, Yaran...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
originaldf = pd.read_excel('data/Korjuuaikanäytteiden_lisätiedot_16082024.xlsx')
originaldf.columns

Index(['VUOSI', 'KUNTA', 'NAYTTEENOTTOPAIKAN NUMERO', 'LISATIETO_URL',
       'INFOTEKSTI', 'AIKALEIMA'],
      dtype='object')

In [26]:
df.columns

Index(['Row', 'Full Block', 'Maalaji', 'Multavuus', 'pH', 'Nurmen ikä',
       'Mitä viljellään', 'Lannoite', 'Lannoitemäärä', 'P', 'PH', 'P_H', 'P H',
       'PHandNurmen ikä', 'PHe', 'P:H', 'PHanderus', 'PHE', 'PHanda', 'PX',
       'PHT', 'Nurmen_ikä', 'Mitä_viljellään', 'MaaLaji'],
      dtype='object')

In [29]:
df_combined = pd.concat([originaldf, df], axis=1, ignore_index=True)
df_combined.columns = ['VUOSI', 'KUNTA', 'NAYTTEENOTTOPAIKAN NUMERO', 'LISATIETO_URL',
       'INFOTEKSTI', 'AIKALEIMA', 'Row', 'Full Block', 'Maalaji', 'Multavuus', 'pH', 'Nurmen ikä',
       'Mitä viljellään', 'Lannoite', 'Lannoitemäärä', 'P', 'PH', 'P_H', 'P H',
       'PHandNurmen ikä', 'PHe', 'P:H', 'PHanderus', 'PHE', 'PHanda', 'PX',
       'PHT', 'Nurmen_ikä', 'Mitä_viljellään', 'MaaLaji']
df_combined.drop('Row', axis=1, inplace=True)
df_combined

,VUOSI,KUNTA,NAYTTEENOTTOPAIKAN NUMERO,LISATIETO_URL,INFOTEKSTI,AIKALEIMA,Full Block,Maalaji,Multavuus,pH,...,PHe,P:H,PHanderus,PHE,PHanda,PX,PHT,Nurmen_ikä,Mitä_viljellään,MaaLaji
0,2024,AKAA,1,NaN,3 v. nurmi. 70 kg N/ha. Ei lietettä eikä täyd...,10.06.2024 13:07:28,Row 1\nInput text: 3 v. nurmi. 70 kg N/ha. E...,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,ALAJÄRVI,1,NaN,"Koulutila. TT 80%, NN 20%. Lannoitus 14.5. Yar...",31.05.2024 14:36:55,"Row 2\nInput text: Koulutila. TT 80%, NN 20%....",HHt,None,6.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,AURA,1,NaN,2 v. nurmi. HiueS. Ei lietetttä keväällä. Salp...,05.06.2024 12:08:44,Row 3\nInput text: 2 v. nurmi. HiueS. Ei liet...,HiueS,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,EVIJÄRVI,2,NaN,"TT Nuutti 60 %, NN Kasper 17 %, engl.rh. Riikk...",31.05.2024 13:46:27,"Row 4\nInput text: TT Nuutti 60 %, NN Kasper ...",Ct,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,EVIJÄRVI,1,NaN,"TT Nuutti 60 %, NN Kasper 17 %, engl.rh. Riikk...",31.05.2024 13:54:18,"Row 5\nInput text: TT Nuutti 60 %, NN Kasper ...",HtMr,rm,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,2017,VIHTI,3,NaN,"2 v nurmi. HeS. Lajikkeet: Grindstad 10 kg, Rh...",30.05.2017 15:08:45,Row 1042\nInput text: 2 v nurmi. HeS. Lajikke...,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,2017,VIROLAHTI,1,NaN,"Grindstad-timotei, Minto-nurminata",08.06.2017 10:52:06,"Row 1043\nInput text: Grindstad-timotei, Mint...",Grindstad-timotei,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1043,2017,VIRRAT,1,NaN,"Timotei Tryggve, nurminata SW Minto",14.06.2017 13:28:16,"Row 1044\nInput text: Timotei Tryggve, nurmin...",None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,2017,ÄHTÄRI,1,NaN,LUOMU.,14.06.2017 18:15:08,Row 1045\nInput text: LUOMU.\n\nExtracted Dat...,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,2016,VIHTI,1,http://www.yara.fi/lannoitus/kasvit/nurmi/d-ar...,"Vihti Kotkaniemi, Yaran D-arvoseuranta",24.05.2017 12:24:32,"Row 1046\nInput text: Vihti Kotkaniemi, Yaran...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
pd.set_option('display.max_columns', None)
df_combined.columns.to_frame()
df_combined.columns

Index(['VUOSI', 'KUNTA', 'NAYTTEENOTTOPAIKAN NUMERO', 'LISATIETO_URL',
       'INFOTEKSTI', 'AIKALEIMA', 'Full Block', 'Maalaji', 'Multavuus', 'pH',
       'Nurmen ikä', 'Mitä viljellään', 'Lannoite', 'Lannoitemäärä', 'P', 'PH',
       'P_H', 'P H', 'PHandNurmen ikä', 'PHe', 'P:H', 'PHanderus', 'PHE',
       'PHanda', 'PX', 'PHT', 'Nurmen_ikä', 'Mitä_viljellään', 'MaaLaji'],
      dtype='object')

In [36]:
columns = df_combined.columns.tolist()

P PH
25 PHT
27 Mitä_viljellään
28 MaaLaji

In [60]:
import numpy as np
not_na = df_combined[columns[25]].dropna().unique()
print(not_na)

[7.]